.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px transparent;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
  
    .removeBtn {
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;
      opacity: .7;
  
      &:hover {
        opacity: 1;
      }
    }
  
    
    p{
      margin: 0;
      margin-bottom: 10px;
    }
  }
  